html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1170px;
  }

#nav {
    background-color: #383E4C;
    padding: 10px auto;
    text-align: center;
}

#nav ul {
    margin: 0 0;
    padding: 10px 0;
}

#nav .item{
    background-color: #383E4C;
    border: 1px solid #646d7c;
    display: inline-block;
    font-size: 1.25rem;
    list-style-type: none;
    margin: 0 10px;
    padding: 10px 25px;
}

#nav a {
    color: #ffffff;
    text-decoration: none;
}

#hero {
    background: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    margin: 0;
}